name: CI Pipeline

on: [push]

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t desgen1 .

      - name: Run container
        run: docker run desgen1
